# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/SFMLUdpServer
/Common/Debug
/Debug
/SFMLUdpClient/Debug
/SFMLUdpServer/Debug
/SFMLUdpServer/SFMLUdpServer.vcxproj
/SFMLUdpServer/SFMLUdpServer.vcxproj.filters
/SFMLUdpServer/SFMLUdpServer.vcxproj.user
/SFMLUdpClient/SFMLUdpClient.vcxproj
/SFMLUdpClient/SFMLUdpClient.vcxproj.filters
/SFMLUdpClient/SFMLUdpClient.vcxproj.user
/Common/RCa19436
/Common/RCa25184
/Common/Common.vcxproj
/Common/Common.vcxproj.filters
/Common/Common.vcxproj.user
